



h1 {
  text-align: center;
  width: 100%;

}

.weather-container {
  height: 300px;
}

.current {
  height: 300px;
  /* min-height: 300px; */
}

.label-wrap {
  text-align: center;
}

.forecast {
  display: inline-block;
  width: 100%;
}

.five-day {
  height: 200px;
  display: flex;
  justify-content: space-between;
  
}