
/* relying on bootstrap for the majority of the css */


h1 {
  text-align: center;
  width: 100%;

}

.weather-container {
  height: 300px;
}


.current {
  height: 350px;
  /* min-height: 300px; */
}

.currCity {
  margin-top: 0.5rem;
}

.label-wrap {
  text-align: center;
  margin-right: 200px; /* moving the lable to the left to be similar to mock up */
}

.forecast {
  display: inline-block;
  width: 100%;
}

.five-day {
  /* height: 200px; */
  display: flex;
  justify-content: space-between;
  
}

.empty-card {
  border: none;
}

.currUv {
  width: 20px;
}

